li{
list-style:none;
}
ul{
-webkit-margin-before:0;
-webkit-margin-after:0;
-webkit-margin-start:0;
-webkit-margin-end:0;
-webkit-padding-start:0;
}
.ullist{
width:150px;
float:left;
}
.lilist{
width:150px;
padding:20px;
cursor:pointer;
}
.a1{
color:white;
background-color:rgb(255,11,4);
}
.a2{
color:white;
background-color:rgb(255,123,4);
}
.a3{
color:white;
background-color:rgb(255,255,4);
}
.a4{
color:white;
background-color:rgb(85,255,13);
}
.a5{
color:white;
background-color:rgb(13,255,134);
}
.a6{
color:white;
background-color:rgb(13,255,255);
}
.a7{
color:white;
background-color:rgb(31,13,255);
}
.a8{
color:white;
background-color:rgb(165,13,255);
}
.a9{
color:white;
background-color:rgb(255,13,255);
}
.a10{
color:white;
background-color:rgb(255,13,73);
}
.sublist{
float:left;
margin-left:50px;
display:inline;
background-color:rgb(138,255,185);
display:hidden;
}
.lisublist{
padding:20px;

}
div{
display:none;
}